p {

    font-size: 20px;
        color: black;
        text-decoration-thickness: 100;

    }
    
    span {
    
        font-size: 20px;
        color: black;
        text-decoration-thickness: 100;
    
    }